* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

body {
  background-color: #1e1e1e;
  position: relative;
  overflow: hidden;
}

.bg {
  position: relative;
  scale: 1.1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/vds.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  filter: blur(6px);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

#particle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(7vw, 43vh, 23px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(7vw, 43vh, 23px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.23;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(84vw, 48vh, 76px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(16vw, 48vh, 95px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(16vw, 48vh, 95px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(79vw, 84vh, 56px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(79vw, 28vh, 62px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(79vw, 28vh, 62px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.15;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(9vw, 90vh, 56px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(75vw, 65vh, 31px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(75vw, 65vh, 31px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.14;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(6vw, 25vh, 69px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(29vw, 72vh, 30px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(29vw, 72vh, 30px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.09;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(30vw, 65vh, 48px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(85vw, 40vh, 18px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(85vw, 40vh, 18px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(76vw, 12vh, 9px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(81vw, 46vh, 9px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(81vw, 46vh, 9px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.03;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(49vw, 39vh, 16px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(44vw, 46vh, 57px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(44vw, 46vh, 57px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.15;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(30vw, 29vh, 70px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(29vw, 42vh, 95px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(29vw, 42vh, 95px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(21vw, 43vh, 28px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(80vw, 55vh, 3px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(80vw, 55vh, 3px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.39;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(12vw, 61vh, 13px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(76vw, 3vh, 82px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(76vw, 3vh, 82px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.46;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(85vw, 6vh, 35px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(52vw, 22vh, 90px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(52vw, 22vh, 90px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.06;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(83vw, 63vh, 38px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(9vw, 16vh, 100px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(9vw, 16vh, 100px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.09;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(79vw, 35vh, 55px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(18vw, 87vh, 73px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(18vw, 87vh, 73px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.46;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(41vw, 32vh, 55px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(4vw, 74vh, 84px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(4vw, 74vh, 84px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.42;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(3vw, 76vh, 49px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(21vw, 31vh, 87px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(21vw, 31vh, 87px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.39;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(21vw, 26vh, 82px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(29vw, 61vh, 46px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(29vw, 61vh, 46px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.38;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(7vw, 34vh, 70px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(56vw, 70vh, 97px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(56vw, 70vh, 97px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.48;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(21vw, 53vh, 40px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(9vw, 67vh, 51px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(9vw, 67vh, 51px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.02;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(46vw, 76vh, 88px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(36vw, 6vh, 4px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(36vw, 6vh, 4px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(25vw, 17vh, 64px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(72vw, 3vh, 31px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(72vw, 3vh, 31px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.04;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(8vw, 39vh, 63px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(89vw, 36vh, 85px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(89vw, 36vh, 85px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.15;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(19vw, 38vh, 66px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(61vw, 78vh, 94px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(61vw, 78vh, 94px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.13;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(45vw, 36vh, 9px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(47vw, 53vh, 27px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(47vw, 53vh, 27px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(60vw, 46vh, 33px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(71vw, 62vh, 4px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(71vw, 62vh, 4px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.32;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(90vw, 24vh, 83px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(23vw, 38vh, 5px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(23vw, 38vh, 5px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(34vw, 54vh, 38px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(54vw, 87vh, 19px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(54vw, 87vh, 19px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.08;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(38vw, 66vh, 55px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(48vw, 58vh, 52px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(48vw, 58vh, 52px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(25vw, 84vh, 34px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(34vw, 67vh, 20px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(34vw, 67vh, 20px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.47;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(13vw, 82vh, 3px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(78vw, 63vh, 94px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(78vw, 63vh, 94px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.25;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(1vw, 68vh, 24px);
  background: hsl(0deg, 0%, 100%);
}

.container {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 10px;
  width: calc(320px + 680 * (100vw - 320px) / 1600);
  height: 100vh;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

svg {
  width: 100%;
}

#Group_13 {
  filter: drop-shadow(6px 3px 0px rgb(255, 255, 255));
  -webkit-filter: drop-shadow(6px 3px 0px rgb(255, 255, 255));
}

#Ellipse_1 {
  filter: drop-shadow(0px 0px 15px rgb(0, 106, 93)), drop-shadow(0px 0px 15px rgb(255, 0, 0));
  -webkit-filter: drop-shadow(0px 0px 15px rgb(0, 106, 93)), drop-shadow(0px 0px 15px rgb(255, 0, 0));
}

#Group_10 {
  transform-box: fill-box;
  animation: up 5s infinite ease-in-out;
  -webkit-animation: up 5s infinite ease-in-out;
  transform-origin: left bottom;
}

@-webkit-keyframes up {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.8deg);
    -webkit-transform: rotate(-0.8deg);
    -moz-transform: rotate(-0.8deg);
    -ms-transform: rotate(-0.8deg);
    -o-transform: rotate(-0.8deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@keyframes up {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.8deg);
    -webkit-transform: rotate(-0.8deg);
    -moz-transform: rotate(-0.8deg);
    -ms-transform: rotate(-0.8deg);
    -o-transform: rotate(-0.8deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
#leftHend {
  transform-box: fill-box;
  animation: left 5s infinite ease-in-out;
  -webkit-animation: left 5s infinite ease-in-out;
  transform-origin: right bottom;
  position: relative;
  z-index: -1;
}

@-webkit-keyframes left {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.3deg);
    -webkit-transform: rotate(-0.3deg);
    -moz-transform: rotate(-0.3deg);
    -ms-transform: rotate(-0.3deg);
    -o-transform: rotate(-0.3deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@keyframes left {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.3deg);
    -webkit-transform: rotate(-0.3deg);
    -moz-transform: rotate(-0.3deg);
    -ms-transform: rotate(-0.3deg);
    -o-transform: rotate(-0.3deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
#redGirl {
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}/*# sourceMappingURL=style.css.map */