* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

body {
  background-color: #1e1e1e;
  background-image: url(../img/vds.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow: hidden;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(21vw, 65vh, 60px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(21vw, 65vh, 60px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.15;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(87vw, 71vh, 58px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(23vw, 39vh, 67px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(23vw, 39vh, 67px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.08;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(50vw, 52vh, 68px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(10vw, 90vh, 4px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(10vw, 90vh, 4px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.24;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(70vw, 28vh, 80px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(6vw, 84vh, 50px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(6vw, 84vh, 50px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.24;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(1vw, 84vh, 51px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(60vw, 74vh, 65px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(60vw, 74vh, 65px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.36;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(7vw, 75vh, 47px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(76vw, 15vh, 1px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(76vw, 15vh, 1px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.34;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(85vw, 25vh, 61px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(23vw, 73vh, 17px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(23vw, 73vh, 17px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.09;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(65vw, 38vh, 90px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(30vw, 78vh, 72px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(30vw, 78vh, 72px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.47;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(64vw, 84vh, 50px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(36vw, 4vh, 18px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(36vw, 4vh, 18px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.44;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(19vw, 77vh, 92px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(58vw, 74vh, 12px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(58vw, 74vh, 12px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.32;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(7vw, 13vh, 100px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(65vw, 76vh, 7px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(65vw, 76vh, 7px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.47;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(65vw, 47vh, 24px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(79vw, 80vh, 71px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(79vw, 80vh, 71px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.28;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(18vw, 46vh, 33px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(89vw, 16vh, 40px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(89vw, 16vh, 40px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.02;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(27vw, 36vh, 2px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(77vw, 5vh, 99px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(77vw, 5vh, 99px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.05;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(69vw, 25vh, 63px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(50vw, 66vh, 69px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(50vw, 66vh, 69px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.22;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(41vw, 22vh, 13px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(82vw, 76vh, 19px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(82vw, 76vh, 19px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.38;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(90vw, 70vh, 67px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(3vw, 48vh, 31px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(3vw, 48vh, 31px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.3;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(71vw, 14vh, 57px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(76vw, 36vh, 39px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(76vw, 36vh, 39px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.24;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(74vw, 81vh, 71px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(71vw, 88vh, 23px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(71vw, 88vh, 23px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(68vw, 73vh, 1px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(38vw, 80vh, 8px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(38vw, 80vh, 8px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.4;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(63vw, 78vh, 62px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(50vw, 11vh, 33px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(50vw, 11vh, 33px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.22;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(14vw, 13vh, 65px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(19vw, 64vh, 15px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(19vw, 64vh, 15px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.37;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(62vw, 61vh, 64px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(87vw, 42vh, 3px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(87vw, 42vh, 3px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.07;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(84vw, 63vh, 62px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(44vw, 60vh, 69px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(44vw, 60vh, 69px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.2;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(24vw, 5vh, 39px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(67vw, 82vh, 86px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(67vw, 82vh, 86px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.25;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(76vw, 12vh, 23px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(28vw, 50vh, 10px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(28vw, 50vh, 10px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.24;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(81vw, 18vh, 82px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(87vw, 30vh, 73px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(87vw, 30vh, 73px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(3vw, 61vh, 55px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(57vw, 69vh, 55px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(57vw, 69vh, 55px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.48;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(26vw, 13vh, 33px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(36vw, 9vh, 26px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(36vw, 9vh, 26px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.21;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(57vw, 46vh, 10px);
  background: hsl(0deg, 0%, 100%);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(5vw, 61vh, 50px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(5vw, 61vh, 50px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.48;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(63vw, 89vh, 11px);
  background: hsl(0deg, 0%, 100%);
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 10px;
  width: 60%;
  height: 100vh;
}

svg {
  width: 100%;
}

#Group_13 {
  filter: drop-shadow(6px 3px 0px rgb(255, 255, 255));
  -webkit-filter: drop-shadow(6px 3px 0px rgb(255, 255, 255));
}

#Ellipse_1 {
  filter: drop-shadow(0px 0px 15px rgb(0, 106, 93)), drop-shadow(0px 0px 15px rgb(255, 0, 0));
  -webkit-filter: drop-shadow(0px 0px 15px rgb(0, 106, 93)), drop-shadow(0px 0px 15px rgb(255, 0, 0));
}

#Group_10 {
  transform-box: fill-box;
  animation: up 10s infinite ease-in-out;
  -webkit-animation: up 10s infinite ease-in-out;
  transform-origin: left bottom;
}

@-webkit-keyframes up {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@keyframes up {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
#leftHend {
  transform-box: fill-box;
  animation: left 5s infinite ease-in-out;
  -webkit-animation: left 5s infinite ease-in-out;
  transform-origin: right bottom;
  position: relative;
  z-index: -1;
}

@-webkit-keyframes left {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.3deg);
    -webkit-transform: rotate(-0.3deg);
    -moz-transform: rotate(-0.3deg);
    -ms-transform: rotate(-0.3deg);
    -o-transform: rotate(-0.3deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@keyframes left {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.3deg);
    -webkit-transform: rotate(-0.3deg);
    -moz-transform: rotate(-0.3deg);
    -ms-transform: rotate(-0.3deg);
    -o-transform: rotate(-0.3deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */